### The goal of machine learning in this scenario is to test our model (made with the train.csv) to run on the test.csv
### The test.cvs does NOT HAVE the "survived columns", therefor eallowing us to PREDICT the dependent variable in a new dataset
### This is done so that we can see how our model works with fresh data

In [14]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn
from sklearn.linear_model import LogisticRegression

In [2]:
os.chdir("C:/Users/ab/Documents/GitHub/data-science-lectures-monte/data")

In [3]:
train_df = pd.read_csv("titanic_train.csv")
test_df = pd.read_csv("titanic_test.csv")

In [34]:
train_df.describe()

,passenger_id,pclass,age,sibsp,parch,fare,body,survived
count,850.000000,850.00000,850.000000,850.000000,850.000000,849.000000,73.000000,850.000000
mean,662.816471,2.32000,29.530637,0.522353,0.382353,34.012701,165.821918,0.368235
std,380.751936,0.83853,13.584703,1.112132,0.879511,53.705779,99.068487,0.482610
min,1.000000,1.00000,0.166700,0.000000,0.000000,0.000000,4.000000,0.000000
25%,332.250000,2.00000,21.000000,0.000000,0.000000,7.895800,75.000000,0.000000
50%,676.500000,3.00000,28.000000,0.000000,0.000000,14.108300,166.000000,0.000000
75%,992.250000,3.00000,36.000000,1.000000,0.000000,31.000000,260.000000,1.000000
max,1307.000000,3.00000,80.000000,8.000000,9.000000,512.329200,328.000000,1.000000

In [4]:
columns = ["sex", "age", "pclass", "sibsp"]

In [ ]:
# will use columns sec, age, pclass, and sibsp
# need to clean the data a bit

train_df["age"] = train_df["age"].fillna(train_df["age"].median())
train_df.loc[train_df["sex"]=="male", "sex"] = 0
train_df.loc[train_df["sex"]=="female", "sex"] = 1
print(train_df["age"].unique(), train_df["sex"].unique())

## Logistic Regression

In [18]:
# set the method we will use

reg = LogisticRegression()
x_train = train_df[columns]
y_train = train_df["survived"]
reg.fit(x_train, y_train)

LogisticRegression()

In [19]:
print(reg.score(x_train, y_train))

# model is giving us 0.79, pretty good model

0.7929411764705883

In [ ]:
# test does not include the "survived" column

test_df.head()

In [22]:
# transform the test_df the same way as the train_df

test_df["age"] = test_df["age"].fillna(test_df["age"].median())
test_df.loc[test_df["sex"]=="male", "sex"] = 0
test_df.loc[test_df["sex"]=="female", "sex"] = 1
print(test_df["age"].unique(), test_df["sex"].unique())

[17.     29.     31.     41.     21.      0.3333 37.     15.     14.
 47.     44.     60.     43.     61.      6.     36.     24.      4.
 42.     71.     26.     45.     32.     23.     19.     30.     39.
 49.     65.     50.     51.     22.     52.     66.     34.      1.
 56.     57.     46.     27.     54.      0.75    5.     33.      9.
 28.     53.     30.5    18.5    40.     36.5    35.     25.      2.
 70.5    16.     64.     62.     38.     20.     12.     48.     32.5
 20.5    11.5    40.5    24.5    18.     63.      3.      8.     23.5
  0.9167 59.     58.     10.    ] [0 1]

In [26]:
x_test = test_df[columns]

prediction = reg.predict(x_test)

In [27]:
print(prediction)

# this data is showing that the first person survived, and 2nd-7th died

[1 0 0 0 0 0 0 1 0 0 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 1 0 1 1 1 0 0 0 0 0 0 1
 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 1 0 1 1 0 0 0 0 0 0 1 1 0 1 0 0 0 0 1
 1 1 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 1 1 0 1 0 1 1 0 1 0 1 1 0 0
 1 0 0 0 0 1 0 0 0 1 0 1 0 0 0 0 1 0 1 0 0 0 1 1 0 0 0 0 1 0 0 1 0 1 1 1 0
 1 1 0 0 0 1 0 1 1 1 0 1 0 1 1 1 1 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1
 0 0 0 0 1 1 0 1 0 0 0 0 1 1 0 1 0 0 0 0 0 0 0 1 0 0 1 1 1 1 1 0 0 0 0 1 1
 0 0 1 1 0 0 0 0 1 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 1 0 0 1 0 0 0 1 0 1 0 0 1
 1 0 1 0 0 0 1 1 0 1 0 0 1 0 0 0 0 1 0 1 0 0 0 1 0 0 0 1 0 0 1 1 0 1 0 0 1
 0 0 0 0 0 1 1 0 1 1 0 0 1 0 1 0 1 0 0 1 1 1 0 1 1 0 1 0 0 0 0 1 0 0 0 1 0
 0 1 0 1 1 0 0 0 0 1 0 1 0 1 1 1 0 0 1 0 1 0 0 1 0 1 0 1 1 0 1 0 0 1 0 0 0
 1 0 0 0 0 0 0 0 0 1 1 0 1 0 0 0 0 1 0 0 1 1 0 0 1 1 0 0 0 0 0 0 0 0 0 0 0
 1 0 0 0 0 0 1 1 1 0 0 1 0 0 0 0 1 0 1 0 0 1 1 1 1 0 0 1 0 1 0 1 1 0 0 1 1
 1 1 0 1 0 1 0 0 0 1 0 0 1 0 1]

In [ ]:
dataset = pd.DataFrame(list(zip(test_df["passenger_id"].to_list(), prediction.to_list())), columns=["passenger_id", "survived"])

In [42]:
dataset.head()

   passenger_id  survived
0           295         1
1          1150         0
2            89         0
3          1063         0
4          1020         0

In [43]:
# create dataset from our prediction spreadsheet

os.chdir("C:/Users/ab/Documents/GitHub/data-science-lectures-monte/submissions")
dataset.to_csv("submission_logistic_regression.csv", index=False)